<h1>StaticPages#home</h1>
<div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/calc_form' %>
      </section>
      <section>
        <%= link_to 'results', results_path %>
      </section>
    </aside>
  </div>
</div>